/* typography */
$txt_heading: #000;
$txt_paragraph: #6F787D;

/* button colors */
$btn_blue: #1F79F2;
$btn_blue_hover: #2d76d6; // temp
$btn_red: #E13284;
$btn_red_hover: #be3072; // temp

/* project card colors */
$project_card_bg: #F5F7FD;
$project_card_btn_hover: #dde5e9; // temp
$project_card_txt: #556080;

$project_card_blue_bg: #1A257E; //temp
$project_card_blue_txt: #BDCAEF;

$project_card_red_bg: #F23454; // temp;
$project_card_red_txt: #FDD8DF;

/* social buttons */
$social_bg: #F5F7FD;
$social_github: #000;
$social_twitter: #3586F1; // temp
$social_dribbble: #E4389B; // temp
