@use 'utils/variables' as v;

.container {
  background-color: v.$background_main;

  &:nth-child(2n) {
    background-color: v.$background_alt;
  }

  &.extend {
    background-color: v.$background_alt;

    &:nth-child(2n) {
      background-color: v.$background_main;
    }
  }

  &.footer {
    background-color: v.$background_footer;
  }

  > .wrap {
    max-width: v.$max_width;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem v.$container_padding;
  }
}

.container.circles1 {
  position: relative;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 9;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: v.$background_alt;
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    z-index: 8;
  }

  &:before {
    top: -40rem;
    right: -15rem;
  }

  &:after {
    bottom: -30rem;
    right: -30rem;
  }
}

.container.overlay-footer {
  position: relative;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 9;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    height: 7rem;
    width: 100%;
  }

  &.overlay-footer:before {
    background-color: v.$background_footer;
  }
}

@media screen and (max-width: 500px) {
  .container > .wrap {
    padding: 1.5rem v.$smaller_container_padding;
  }
}
