@use 'utils/variables' as v;

.container {
  padding: 1.5rem v.$side_padding;
  background-color: v.$background_main;

  &:nth-child(2n) {
    background-color: v.$background_alt;
  }

  > .content {
    flex: 1;
    margin: 5rem 0 7rem 0;

    > .text p {
      max-width: 500px;
      width: 300px;
      margin: 1.5rem 0;
    }
  }
}

.container.circles1 {
  position: relative;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 9;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: v.$background_alt;
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    z-index: 8;
  }

  &:before {
    top: -40rem;
    right: -15rem;
  }

  &:after {
    bottom: -30rem;
    right: -30rem;
  }
}
