.split {
  display: flex;
  flex-direction: row;
  align-items: center;

  > *:first-child {
    flex: 1;
    margin: 5rem 0 7rem 0;
  }

  &.even {
    align-items: initial;
    > * {
      flex: 1;
      margin: 0 1rem 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &.top-spacing {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 990px) {
  .split.even {
    flex-direction: column;
    > * {
      margin: 0 0 1rem 0;
    }
    &.top-spacing {
      margin-top: 0;
    }
  }
  .split {
    flex-direction: column;
    align-items: flex-start;
    > *:first-child {
      margin: 3rem 0 3rem 0;
    }
  }
}
