@use 'base/var';
@use 'mixins/shadow';

.project-card {
  background-color: var.$project_card_bg;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  
  /* card sizing hover effect */
  transition: transform 150ms ease-in-out;
  &:hover {
    transform: perspective(500px) translate3d(0, 0, .8rem);
  }

  /* hover transition effect, circles close */
  &.transition-circles {
    &:before, &:after {
      content: "";
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      position: absolute;
      transform-origin: center;
      transition: transform 250ms ease-out;
    }
    &:before {
      top: -10rem;
      left: -10rem;
    }
    &:after {
      bottom: -10rem;
      right: -10rem;
    }
    &:hover {
      &:before, &:after {
        transform: scale(12, 12);
      }
    }
  }

  /* hover transition effect, dialog close */
  &.transition-diagonal {
    &:before, &:after {
      content: "";
      width: 10rem;
      height: 150vh;
      position: absolute;
      transform-origin: center;
      transition: transform 200ms ease-out;
    }
    &:before {
      top: -25vh;
      left: -10rem;
      transform-origin: left;
    }
    &:after {
      top: -25vh;
      right: -10rem;
      transform-origin: right;
    }
    &:hover {
      &:before, &:after {
        transform: scaleX(5) skewX(-3deg);
      }
    }
  }

  /* hover transition colors */
  &.transition-blue {
    &:before, &:after {
      background-color: var.$project_card_blue_bg;
    }
    &:hover {
      .content p {
        color: var.$project_card_blue_txt;
      }
    }
  }
  &.transition-red {
    &:before, &:after {
      background-color: var.$project_card_red_bg;
    }
    &:hover {
      .content p {
        color: var.$project_card_red_txt;
      }
    }
  }

  /* content layout */
  .content {
    padding: 10rem 7rem;
    position: relative;
    z-index: 10;

    h1 {
      color: var.$txt_heading;
      margin: 0 0 1rem 0;
    }
    p {
      max-width: 25rem;
      color: var.$project_card_txt;
      margin-bottom: 2rem;
      line-height: 1.25;
    }
  }

  /* content hover effect */
  &:hover .content {
    h1 {
      color: white;
    }
    a.btn, button {
      background-color: white;
      color: var.$project_card_blue_bg;

      &:hover {
        background-color: var.$project_card_btn_hover;
      }
    }
  }

  /* featured graphic - 2 page */
  .featured-2page {
    .one {
      width: 30rem;
      position: absolute;
      z-index: 15;
      top: 9rem;
      right: 8rem;
      transition: transform 300ms ease-in-out;
      @include shadow.deepshadow;
    }
    .two {
      width: 30rem;
      position: absolute;
      z-index: 14;
      top: -10rem;
      right: -5rem;
      transition: transform 300ms ease-in-out;
      @include shadow.deepshadow;
    }
  }
  &:hover .featured-2page {
    .one {
      transform: translateY(-3rem);
    }
    .two {
      transform: translateY(3rem);
    }
  }

  /* featured graphic - screen grid */
  .featured-grid {
    display: flex;
    flex-direction: column;

    .row {
      height: 12rem;
      position: absolute;
      z-index: 15;
      transition: transform 200ms ease-out;
      display: flex;

      img {
        @include shadow.deepshadow;
        height: 100%;
        margin-right: 1rem;
      }
      &.one {
        top: -6rem;
        right: -8rem;
      }
      &.two {
        top: 7rem;
        right: -15rem;
      }
      &.three {
        top: 20rem;
        right: -10rem;
      }
    }
  }
  &:hover .featured-grid .row {
    &.one {
      transform: translateX(-5rem);
    }
    &.two {
      transform: translateX(2rem);
    }
    &.three {
      transform: translateX(-2rem);
    }
  }
}

@media screen and (max-width: 1200px) {
  .project-card {
    .content {
      padding: 7rem 4rem;
    }

    .featured-2page {
      .one {
        width: 20rem;
        top: 8rem;
        right: 3rem;
      }
      .two {
        width: 20rem;
        top: -1rem;
        right: -7rem;
      }
    }
    &:hover .featured-2page {
      .one {
        transform: translateY(-2rem);
      }
      .two {
        transform: translateY(2rem);
      }
    }

    /* featured graphic - screen grid */
    .featured-grid {
      display: flex;
      flex-direction: column;

      .row {
        height: 12rem;
        position: absolute;
        z-index: 15;
        transition: transform 200ms ease-out;
        display: flex;

        img {
          @include shadow.deepshadow;
          height: 100%;
          margin-right: 1rem;
        }
        &.one {
          top: -6rem;
          right: -8rem;
        }
        &.two {
          top: 7rem;
          right: -15rem;
        }
        &.three {
          top: 20rem;
          right: -10rem;
        }
      }
    }
    &:hover .featured-grid .row {
      &.one {
        transform: translateX(-5rem);
      }
      &.two {
        transform: translateX(2rem);
      }
      &.three {
        transform: translateX(-2rem);
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .project-card {
    flex-direction: column;
    .content {
      padding: 4rem 3rem 22rem 3rem;
    }

    .featured-2page {
      width: 28rem;
      position: relative;
      .one {
        width: 20rem;
        top: initial;
        right: initial;
        left: 1rem;
        bottom: -1rem;
      }
      .two {
        width: 20rem;
        top: initial;
        bottom: -5rem;
        right: 1rem;
      }
    }
    &:hover .featured-2page {
      .one {
        transform: translateY(-2rem);
      }
      .two {
        transform: translateY(2rem);
      }
    }

    /* featured graphic - screen grid */
    .featured-grid {
      display: flex;
      flex-direction: column;

      .row {
        height: 12rem;
        position: absolute;
        z-index: 15;
        transition: transform 200ms ease-out;
        display: flex;

        img {
          @include shadow.deepshadow;
          height: 100%;
          margin-right: 1rem;
        }
        &.one {
          top: -6rem;
          right: -8rem;
        }
        &.two {
          top: 7rem;
          right: -15rem;
        }
        &.three {
          top: 20rem;
          right: -10rem;
        }
      }
    }
    &:hover .featured-grid .row {
      &.one {
        transform: translateX(-5rem);
      }
      &.two {
        transform: translateX(2rem);
      }
      &.three {
        transform: translateX(-2rem);
      }
    }
  }
}