@use 'utils/variables' as v;

.btn, button, a.btn {
  border: none;
  text-decoration: none;
  background-color: v.$button_main;
  color: v.$button_main_text;
  text-transform: uppercase;
  border-radius: 3px;
  padding: .6rem 1.7rem;
  display: inline-block;
  cursor: pointer;
  margin-top: .5rem;
  font-size: .9em;

  &:visited, &:focus, &:hover, &:active {
    text-decoration: none;
    color: v.$button_main_text;
  }

  &:hover, &:active {
    background-color: v.$button_main_hover;
  }

  &.full {
    display: block;
    width: 100%;
  }

  &.alt {
    background-color: v.$background_main;
    color: v.$text_main;
    text-transform: capitalize;
    &:hover, &:active {
      background-color: v.$background_alt;
    }
  }

  &.spaced {
    margin-top: 1rem;
  }
}
