@use 'utils/variables' as v;

.deco-card {
  background-color: v.$background_main;
  border-radius: v.$border-radius;
  padding: 2rem;
  box-shadow: 0 30px 30px 0 rgba(130, 174, 190, .15);
  width: 20rem;

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .avatar {
      width: 3.7rem;
      height: 3.7rem;
      border-radius: 50%;
      margin-right: 1.3rem;
      background-color: v.$button_main;
    }
    .caption {
      h3 {
        font-size: 1.2em;
        color: v.$heading_main;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  p {
    color: v.$text_main;
    margin: .5rem 0 0 0;
  }

  hr {
    width: 105%;
    padding: 0;
    margin: 0 0 0 -2.5%;
    height: 0;
    border: none;
    border-bottom: 2px solid #CBDBEA;
  }

  .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 0 0;

    p {
      flex: 1;
      margin: 0;
    }
  }
}

.footer .deco-card {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .05);
}

.card-stack {
  position: relative;
  transform: scale(.9);
  transform-origin: right;

  .deco-card:first-child {
    margin: 6rem 0 0 6rem;
  }
  .deco-card:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .card-stack {
    transform: scale(.8);
    transform-origin: left;
  }
}

