@use 'utils/variables' as v;

a, a:focus, a:visited, a:active, .link {
  text-decoration: none;
  color: v.$link_color;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    color: v.$link_color_hover;
  }

  &.ico-link, &.ico-github, &.ico-twitter {
    padding-left: 1.5em;
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      height: 1.2em;
      width: 1.2em;
      background-repeat: no-repeat;
      background-size: 100%;
      top: -.05em;
      left: -.1em;
    }
  }

  &.ico-link:before {
    background-image: url('/img/icons/link.svg');
  }

  &.ico-github:before {
    background-image: url('/img/icons/github.svg');
  }

  &.link-icon > img {
    height: 1.2rem;
  }
}

.footer {
  a, a:focus, a:visited, a:active, .link {
    color: v.$footer_link_color;

    &:hover {
      color: v.$footer_link_color_hover;
    }

    &.ico-link:before {
      background-image: url('/img/icons/white_link.svg');
    }

    &.ico-github:before {
      background-image: url('/img/icons/white_github.svg');
    }
  }
}
