@use 'utils/variables' as v;

$figure1: #3A84E7;
$figure2: #CBE8FF;

.link-card {
  background-color: v.$background_main;
  border-radius: v.$border_radius;
  padding: 1.5rem 10rem 1.5rem 3rem;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1);
  transition: transform .1s ease-in-out;

  .heading {
    font-size: 1.5rem;
    color: v.$heading_alt;
  }

  &:hover {
    transform: scale(1.02);

    &.circles, &.triangles {
      &:before {
        opacity: 1;
        transform: translate(-.5rem, -.3rem);
      }
      &:after {
        opacity: 1;
        transform: translate(.5rem, .3rem);
      }
    }
  }

  &:hover {
    transform: scale(1.02);
  }

  &.circles {
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      transition: opacity .1s ease-in-out, transform .2s ease-in-out;
      position: absolute;
      background-color: $figure1;
      border-radius: 50%;
      width: 17rem;
      height: 17rem;
      right: -6rem;
      bottom: -9.5rem;
      opacity: .75;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: $figure2;
      transition: opacity .1s ease-in-out, transform .2s ease-in-out;
      border-radius: 50%;
      width: 25rem;
      height: 25rem;
      right: -15rem;
      top: -15rem;
      opacity: .75;
    }
  }

  &.triangles {
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9rem 14rem 9rem;
      border-color: transparent transparent $figure1 transparent;
      transition: opacity .1s ease-in-out, transform .2s ease-in-out;
      right: -9rem;
      bottom: 2rem;
      opacity: .75;
    }

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9rem 14rem 9rem;
      border-color: transparent transparent $figure2 transparent;
      transition: opacity .1s ease-in-out, transform .2s ease-in-out;
      right: -2rem;
      bottom: -5rem;
      opacity: .75;
    }
  }
}
