@use 'utils/variables' as v;

.logo-card {
  &.red {
    background-color: #EE5353;
  }
  &.blue {
    background-color: #3983E6;
  }

  height: 20rem;
  width: 25rem;
  border-radius: v.$border-radius;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    height: 5rem;
  }

  &:after {
    content: attr(data-name);
    font-size: 1.5em;
    font-weight: bold;
    width: 0;
    overflow: hidden;
    transition: width .5s ease-out;
    color: white;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .logo-card, .container .portfolio-item .logo-card {
    height: 10rem;
    width: 100%;
  }
}
