@use 'utils/variables' as v;

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  a {
    color: v.$text_main;
    text-decoration: none;

    &:hover {
      color: v.$text_bold;
    }
  }

  > div a {
    margin-left: 1.5rem;
  }

  .brand {
    font-weight: bold;
    color: v.$text_bold;

    &:hover {
      opacity: .5;
    }
  }
}
