@use 'utils/variables' as v;

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  a, a:active, a:visited, a:focus {
    color: v.$text_main;
    text-decoration: none;

    &:hover {
      opacity: .5;
      color: v.$text_bold;
    }
  }

  > div a {
    margin-left: 1.5rem;

    &.link-icon {
      margin-left: 1rem;
    }
  }

  .brand {
    font-weight: bold;
    color: v.$text_bold;

    &:hover {
      opacity: .5;
      color: v.$text_bold;
    }
  }
}
