$background_main: #fff;
$background_alt: #F6F8FB;
$background_footer: blue;
$heading_main: black;
$heading_alt: #3B49BB;
$text_main: #393F46;
$text_bold: black;
$text_muted: #8C9DAD;

$side_padding: 10rem;

$button_main: #5C6AE4;
$button_main_hover: #4652c2;
$button_main_text: white;

$link_color: #3B49BB;
$link_color_hover: #2d3a99;
