@use 'variables';

.container {
  padding: 1.5rem variables.$side_padding;
  background-color: variables.$background_main;

  &:nth-child(2n) {
    background-color: variables.$background_alt;
  }
  
  > * {

  }

  > .content {
    flex: 1;
    margin: 5rem 0 7rem 0;

    > .text p {
      max-width: 500px;
      width: 300px;
      margin: 1.5rem 0;
    }
  }
}

.container.portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  > img {
    width: 25rem;
    flex: 0 1 auto;
  }
  > .content {
    margin: 1rem 0 1rem 3rem;
    flex: 0 1 auto;

    h2 {
      color: variables.$heading_alt;
    }

    p {
      max-width: 500px;
      line-height: 1.5;
    }
  }
}

.container.circles1 {
  position: relative;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 9;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: variables.$background_alt;
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    z-index: 8;
  }

  &:before {
    top: -40rem;
    right: -15rem;
  }

  &:after {
    bottom: -30rem;
    right: -30rem;
  }
}
