@use 'variables';

.btn, button, a.btn {
  border: none;
  text-decoration: none;
  background-color: variables.$button_main;
  color: variables.$button_main_text;
  text-transform: uppercase;
  border-radius: 3px;
  padding: .6rem 1.7rem;
  display: inline-block;
  cursor: pointer;

  &:visited, &:focus, &:hover, &:active {
    text-decoration: none;
    color: variables.$button_main_text;
  }

  &:hover, &:active {
    background-color: variables.$button_main_hover;
  }
}
